#searchpage-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
}

.topic-thumbnail {
    height:7.5rem;
    width:7.5rem;
    object-fit: cover;
    overflow: hidden;
}

#searchres-container {
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultTopic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid blue;
}

.resultPage {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    border: 1px solid blue;
}

.resultPage p {
    padding: 0;
    margin: 0;

}